/*//////////////////////////////////////////////////
--------------------------------------------------
RESET CSS
--------------------------------------------------
//////////////////////////////////////////////////*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------
General
--------------------------------------------------*/

body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  font-size: 16px;
}

.container {
  width: 1080px;
  margin: auto;
}

/* COLORI

top-menu {background: #f5f8fa;}
menu freccia {background: #7c98b6;}
arancio {background: #ff7a59;}
blu-grigio {background: #33475b;}
top-menu {background: #f5f8fa;}
verdognolo {background: #0091ae;}
sfumatura {background-image: linear-gradient(45deg, #00a4bd, #00bda5);}*/

/*//////////////////////////////////////////////////
--------------------------------------------------
HEADER
--------------------------------------------------
//////////////////////////////////////////////////*/

/*--------------------------------------------------
Navbar General
--------------------------------------------------*/

header nav ul li {
  list-style: none;
  display: inline;
  line-height: 90px;
}

header nav ul li a {
  text-decoration: none;
}

/*--------------------------------------------------
Navbar Top
--------------------------------------------------*/

.navbar-top {
  background: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  position: relative;
  z-index: 1;
}

.navbar-top ul li a {
  color: #7c98b6;
}

.navbar-top .container:after {
  content: '';
  display: table;
  clear: both;
}

ul.nav-top-left {
  background: darkred;
  float: left;
}

ul.nav-top-right {
  background: darkred;
  float: right;
}

/*--------------------------------------------------
Navbar Main
--------------------------------------------------*/

.navbar-main {
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0,0,0,.15);
  position: relative;
}

.navbar-main .container:after {
  content: '';
  display: table;
  clear: both;
}

.navbar-main .container {
  position: relative;
}

.navbar-main ul {
  background: darkred;
  float: right;
}

.navbar-main ul li:first-child {
  background: red;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.navbar-main ul li a {
  color: #33475b;
  font-weight: 800;
}

/*--------------------------------------------------
Header Jumbo
--------------------------------------------------*/

.header-jumbo {
  background: #fff3ee;
  height: 500px;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
MAIN
--------------------------------------------------
//////////////////////////////////////////////////*/

main {
  background: #f5f8fa;
}

/*--------------------------------------------------
Intro
--------------------------------------------------*/



/*--------------------------------------------------
Services
--------------------------------------------------*/

.services:after {
  content: '';
  display: table;
  clear: both;
}

.service:first-child {
  width: 100%;
}

.service {
  background: #fff;
  height: 100px;
  width: 33.33%;
  float: left;
}

/*--------------------------------------------------
Community
--------------------------------------------------*/

.community {
  height: 500px;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

/*--------------------------------------------------
Customers
--------------------------------------------------*/

.customers {
  height: 300px;
  background: #fff;
}

/*--------------------------------------------------
Get Started
--------------------------------------------------*/

.get-started {
  height: 300px;
  background: #fff;
}

/*//////////////////////////////////////////////////
--------------------------------------------------
FOOTER
--------------------------------------------------
//////////////////////////////////////////////////*/

footer {
  background: #33475b;
}

footer .container:after {
  content: '';
  display: table;
  clear: both;
}

.col-footer {
  width: 25%;
  float: left;
  background: #f5f8fa;
}

.languages {
  background: darkred;
  border-bottom: 1px solid #f5f8fa;
}
