/*//////////////////////////////////////////////////
--------------------------------------------------
RESET CSS
--------------------------------------------------
//////////////////////////////////////////////////*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------
General
--------------------------------------------------*/

body {
  font-family: 'Lato', sans-serif;
}

/* COLORI

top-menu {background: #f5f8fa;}
menu freccia {background: #7c98b6;}
arancio {background: #ff7a59;}
blu-grigio {background: #33475b;}
top-menu {background: #f5f8fa;}
verdognolo {background: #0091ae;}
sfumatura {background-image: linear-gradient(45deg, #00a4bd, #00bda5);}*/

/*//////////////////////////////////////////////////
--------------------------------------------------
HEADER
--------------------------------------------------
//////////////////////////////////////////////////*/



/*//////////////////////////////////////////////////
--------------------------------------------------
MAIN
--------------------------------------------------
//////////////////////////////////////////////////*/



/*//////////////////////////////////////////////////
--------------------------------------------------
FOOTER
--------------------------------------------------
//////////////////////////////////////////////////*/
